<!-- <div ng-controller='DoorsCtrl'> -->
    <ion-view view-title="Portes">
        <ion-content class="padding">

            <h2>Ajouter une porte</h2>
            <form ng-submit="createDoor(_door)">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="name" ng-model="_door.name">
                    </label>
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-positive">{{data.buttonText}}</button>
                </div>
            </form>
            <ion-toggle toggle-class="toggle-assertive" ng-repeat="door in doorsList" ng-model="door.state" ng-checked="door.state" ng-change="changeState(door)">
                {{ door.name }}
            </ion-toggle>
        </ion-content>
    </ion-view>
<!-- </div> -->
