<div ng-controller='DoorsCtrl'>
<ion-view view-title="Portes">
  <ion-content class="padding">

    <ion-list>
        <ion-item ng-repeat="door in doorsList">
            {{door.name}}
            {{door.owner}}
            <!--<ion-option-button ng-click="updateUser(user)">
                update
            </ion-option-button>
            <ion-option-button ng-click="delete(user)">
                delete
            </ion-option-button>
            -->
        </ion-item>
    </ion-list>


    <H2>Ajouter une porte</H2>
        <form ng-submit="createDoor(door)">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="name" ng-model="door.name">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">{{data.buttonText}}</button>
            </div>
        </form>

  </ion-content>
</ion-view>
</div>
